/* FULL OPACITY PALETTE */
$darkpurple: #15151b;
$midpurple: #474787;
$lightpurple: #706fd3;
$lightgreen: #33d9b2;
$lightblue: #34ace0;

/* HALF OPACITY PALETTE */
$halfdarkpurple: rgba(21, 21, 27, 0.5);
$halfmidpurple: rgba(71, 71, 135, 0.5);
$halflightpurple: rgba(112, 111, 211, 0.5);
$halflightgreen: rgba(51, 217, 178, 0.5);
$halflightblue: rgba(52, 172, 224, 0.5);

/* SPACING */
$linkmargin: 0 2rem;